<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <arg name="gazebo" default="false"/>

    <include file="$(find AJTemplateBot)/launch/rviz.launch">
        <arg name="debug" default="1"/>
    </include>
    <node pkg="AJTemplateBot" type="Forward.py" name="Forward" output="screen"/>

    <group if="$(eval arg('gazebo'))">
        <include file="$(find AJTemplateBot)/launch/gazebo.launch"/>
        <node pkg="AJTemplateBot" type="RvizTrasformer.py" name="RvizTrasformer"/>
    </group>
    
</launch>
